@tailwind base;
@tailwind components;
@tailwind utilities;

/* HOUSEHIVE.AI Theme */
body {
  @apply bg-white text-black font-sans antialiased;
}

h1, h2, h3, h4, h5 {
  @apply text-[#FFB400] font-bold;
}

a {
  @apply text-[#FFB400] hover:underline;
}

button {
  @apply bg-[#FFB400] text-black font-semibold rounded-lg px-4 py-2 hover:bg-black hover:text-[#FFB400] transition;
}

.indexHeader {
  @apply bg-[#f0f0f0] text-white min-h-screen flex flex-col items-center pt-35;
  
}